#  Data Wrangling

# Introduction

The tasks for this project are:

* Data wrangling, which consists of:
  * Gathering data
  * Assessing data
  * Cleaning data
* Storing, analyzing, and visualizing our wrangled data
* Reporting on
* 1) our data wrangling efforts
* 2) our data analyses and visualizations

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import time
import gc
import requests
import tweepy
import os
import json
import re
import warnings

plt.style.use('ggplot')
%matplotlib inline

# Gather

In [7]:
# read csv as a Pandas DataFrame
twitter_archive = pd.read_csv('twitter-archive-enhanced.csv')
twitter_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [8]:
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [9]:
# Use requests library to download tsv file
url="https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"
response = requests.get(url)
with open('./Data/image_predictions.tsv', 'wb') as file:
    file.write(response.content)
image_predictions = pd.read_csv('./Data/image_predictions.tsv', sep='\t')

In [10]:
image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

**Query the Twitter API for each tweet's JSON data using Python's Tweepy library and store each tweet's entire set of JSON data in a file.**

In [11]:
CONSUMER_KEY = "5Uur0mo4ol2kB8yhtZ1VxXS0u"
CONSUMER_SECRET = "h8E7fSpXWiMoBel7G1ZOAeu4Mgru0v0MtxH5ehYE1RKM89SiBH"
OAUTH_TOKEN = "303562412-ct9aNnU0FQR0UKJVn1i1W3Y8omqSewiQWUcRaygB"
OAUTH_TOKEN_SECRET = "D3qslrbdOU5fqTOp951kOIuZbkeTPBodnjNYoEGFR63Ft"

In [16]:
auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
auth.set_access_token(OAUTH_TOKEN, OAUTH_TOKEN_SECRET)

api = tweepy.API(auth, 
                 wait_on_rate_limit = True, 
                 wait_on_rate_limit_notify = True)

In [19]:
# List of the error tweets
error_list = []
# List of tweets
df_list = []
# Calculate the time of execution
start = time.time()

i=0
# For loop which will add each available tweet json to df_list
for tweet_id in twitter_archive['tweet_id']:
    i+=1
    try:
        tweet = api.get_status(tweet_id, tweet_mode='extended',
                               wait_on_rate_limit = True, wait_on_rate_limit_notify = True)._json 
        favorites = tweet['favorite_count'] # How many favorites the tweet had
        retweets = tweet['retweet_count'] # Count of the retweet
        user_followers = tweet['user']['followers_count'] # How many followers the user had
        user_favourites = tweet['user']['favourites_count'] # How many favorites the user had
        date_time = tweet['created_at'] # The date and time of the creation
        
        df_list.append({'tweet_id': int(tweet_id),
                        'favorites': int(favorites),
                        'retweets': int(retweets),
                        'user_followers': int(user_followers),
                        'user_favourites': int(user_favourites),
                        'date_time': pd.to_datetime(date_time)})
    except Exception as e:
        print(str(tweet_id)+ " _ " + str(e))
        error_list.append(tweet_id)
        
    print(np.round((i/twitter_archive.shape[0])*100, 2),'% done')
# Calculate the time of excution
end = time.time()
print(end - start)

0.04 % done
0.08 % done
0.13 % done
0.17 % done
0.21 % done
0.25 % done
0.3 % done
0.34 % done
0.38 % done
0.42 % done
0.47 % done
0.51 % done
0.55 % done
0.59 % done
0.64 % done
0.68 % done
0.72 % done
0.76 % done
0.81 % done
888202515573088257 _ [{'code': 144, 'message': 'No status found with that ID.'}]
0.85 % done
0.89 % done
0.93 % done
0.98 % done
1.02 % done
1.06 % done
1.1 % done
1.15 % done
1.19 % done
1.23 % done
1.27 % done
1.32 % done
1.36 % done
1.4 % done
1.44 % done
1.49 % done
1.53 % done
1.57 % done
1.61 % done
1.66 % done
1.7 % done
1.74 % done
1.78 % done
1.83 % done
1.87 % done
1.91 % done
1.95 % done
1.99 % done
2.04 % done
2.08 % done
2.12 % done
2.16 % done
2.21 % done
2.25 % done
2.29 % done
2.33 % done
2.38 % done
2.42 % done
2.46 % done
2.5 % done
2.55 % done
2.59 % done
2.63 % done
2.67 % done
2.72 % done
2.76 % done
2.8 % done
2.84 % done
2.89 % done
2.93 % done
2.97 % done
3.01 % done
3.06 % done
3.1 % done
3.14 % done
3.18 % done
3.23 % done
3.27 % done
3.31 % done
3.35 % done
3.4 % done
3.44 % done
3.48 % done
3.52 % done
3.57 % done
3.61 % done
3.65 % done
3.69 % done
3.74 % done
3.78 % done
3.82 % done
3.86 % done
3.9 % done
3.95 % done
3.99 % done
4.03 % done
873697596434513921 _ [{'code': 144, 'message': 'No status found with that ID.'}]
4.07 % done
4.12 % done
4.16 % done
4.2 % done
4.24 % done
4.29 % done
872668790621863937 _ [{'code': 144, 'message': 'No status found with that ID.'}]
4.33 % done
4.37 % done
4.41 % done
872261713294495745 _ [{'code': 144, 'message': 'No status found with that ID.'}]
4.46 % done
4.5 % done
4.54 % done
4.58 % done
4.63 % done
4.67 % done
4.71 % done
4.75 % done
4.8 % done
4.84 % done
4.88 % done
4.92 % done
4.97 % done
5.01 % done
869988702071779329 _ [{'code': 144, 'message': 'No status found with that ID.'}]
5.05 % done
5.09 % done
5.14 % done
5.18 % done
5.22 % done
5.26 % done
5.31 % done
5.35 % done
5.39 % done
5.43 % done
5.48 % done
5.52 % done
5.56 % done
5.6 % done
866816280283807744 _ [{'code': 144, 'message': 'No status found with that ID.'}]
5.65 % done
5.69 % done
5.73 % done
5.77 % done
5.81 % done
5.86 % done
5.9 % done
5.94 % done
5.98 % done
6.03 % done
6.07 % done
6.11 % done
6.15 % done
6.2 % done
6.24 % done
6.28 % done
6.32 % done
6.37 % done
6.41 % done
6.45 % done
6.49 % done
6.54 % done
6.58 % done
861769973181624320 _ [{'code': 144, 'message': 'No status found with that ID.'}]
6.62 % done
6.66 % done
6.71 % done
6.75 % done
6.79 % done
6.83 % done
6.88 % done
6.92 % done
6.96 % done
7.0 % done
7.05 % done
7.09 % done
7.13 % done
7.17 % done
7.22 % done
7.26 % done
7.3 % done
7.34 % done
7.39 % done
7.43 % done
7.47 % done
7.51 % done
7.56 % done
7.6 % done
7.64 % done
7.68 % done
7.72 % done
856602993587888130 _ [{'code': 144, 'message': 'No status found with that ID.'}]
7.77 % done
7.81 % done
7.85 % done
7.89 % done
7.94 % done
7.98 % done
8.02 % done
8.06 % done
8.11 % done
8.15 % done
8.19 % done
8.23 % done
8.28 % done
8.32 % done
8.36 % done
8.4 % done
8.45 % done
8.49 % done
8.53 % done
8.57 % done
8.62 % done
8.66 % done
8.7 % done
8.74 % done
8.79 % done
8.83 % done
8.87 % done
8.91 % done
8.96 % done
851953902622658560 _ [{'code': 144, 'message': 'No status found with that ID.'}]
9.0 % done
9.04 % done
9.08 % done
9.13 % done
9.17 % done
9.21 % done
9.25 % done
9.3 % done
9.34 % done
9.38 % done
9.42 % done
9.47 % done
9.51 % done
9.55 % done
9.59 % done
9.63 % done
9.68 % done
9.72 % done
9.76 % done
9.8 % done
9.85 % done
9.89 % done
9.93 % done
9.97 % done
10.02 % done
10.06 % done
10.1 % done
10.14 % done
10.19 % done
10.23 % done
10.27 % done
10.31 % done
10.36 % done
10.4 % done
10.44 % done
10.48 % done
845459076796616705 _ [{'code': 144, 'message': 'No status found with that ID.'}]
10.53 % done
10.57 % done
10.61 % done
10.65 % done
10.7 % done
10.74 % done
844704788403113984 _ [{'code': 144, 'message': 'No status found with that ID.'}]
10.78 % done
10.82 % done
10.87 % done
10.91 % done
10.95 % done
10.99 % done
11.04 % done
842892208864923648 _ [{'code': 144, 'message': 'No status found with that ID.'}]
11.08 % done
11.12 % done
11.16 % done
11.21 % done
11.25 % done
11.29 % done
11.33 % done
11.38 % done
11.42 % done
11.46 % done
11.5 % done
11.54 % done
11.59 % done
11.63 % done
11.67 % done
11.71 % done
11.76 % done
11.8 % done
11.84 % done
11.88 % done
11.93 % done
11.97 % done
12.01 % done
12.05 % done
12.1 % done
12.14 % done
12.18 % done
12.22 % done
12.27 % done
12.31 % done
12.35 % done
12.39 % done
12.44 % done
12.48 % done
12.52 % done
12.56 % done
837366284874571778 _ [{'code': 144, 'message': 'No status found with that ID.'}]
12.61 % done
12.65 % done
837012587749474308 _ [{'code': 144, 'message': 'No status found with that ID.'}]
12.69 % done
12.73 % done
12.78 % done
12.82 % done
12.86 % done
12.9 % done
12.95 % done
12.99 % done
13.03 % done
13.07 % done
13.12 % done
13.16 % done
13.2 % done
13.24 % done
13.29 % done
13.33 % done
13.37 % done
13.41 % done
13.46 % done
13.5 % done
13.54 % done
13.58 % done
13.62 % done
13.67 % done
13.71 % done
13.75 % done
13.79 % done
13.84 % done
13.88 % done
13.92 % done
13.96 % done
14.01 % done
14.05 % done
14.09 % done
14.13 % done
14.18 % done
14.22 % done
14.26 % done
14.3 % done
14.35 % done
14.39 % done
14.43 % done
14.47 % done
14.52 % done
14.56 % done
14.6 % done
14.64 % done
14.69 % done
14.73 % done
14.77 % done
14.81 % done
14.86 % done
14.9 % done
14.94 % done
14.98 % done
15.03 % done
15.07 % done
15.11 % done
15.15 % done
15.2 % done
15.24 % done
15.28 % done
15.32 % done
15.37 % done
15.41 % done
829374341691346946 _ [{'code': 144, 'message': 'No status found with that ID.'}]
15.45 % done
15.49 % done
15.53 % done
15.58 % done
15.62 % done
15.66 % done
15.7 % done
15.75 % done
15.79 % done
15.83 % done
15.87 % done
15.92 % done
15.96 % done
16.0 % done
16.04 % done
16.09 % done
16.13 % done
16.17 % done
16.21 % done
827228250799742977 _ [{'code': 144, 'message': 'No status found with that ID.'}]
16.26 % done
16.3 % done
16.34 % done
16.38 % done
16.43 % done
16.47 % done
16.51 % done
16.55 % done
16.6 % done
16.64 % done
16.68 % done
16.72 % done
16.77 % done
16.81 % done
16.85 % done
16.89 % done
16.94 % done
16.98 % done
17.02 % done
17.06 % done
17.11 % done
17.15 % done
17.19 % done
17.23 % done
17.28 % done
17.32 % done
17.36 % done
17.4 % done
17.44 % done
17.49 % done
17.53 % done
17.57 % done
17.61 % done
17.66 % done
17.7 % done
17.74 % done
17.78 % done
17.83 % done
17.87 % done
17.91 % done
17.95 % done
18.0 % done
18.04 % done
18.08 % done
18.12 % done
18.17 % done
18.21 % done
18.25 % done
18.29 % done
18.34 % done
18.38 % done
18.42 % done
18.46 % done
18.51 % done
18.55 % done
18.59 % done
18.63 % done
18.68 % done
18.72 % done
18.76 % done
18.8 % done
18.85 % done
18.89 % done
18.93 % done
18.97 % done
19.02 % done
19.06 % done
19.1 % done
19.14 % done
19.19 % done
19.23 % done
19.27 % done
19.31 % done
19.35 % done
19.4 % done
19.44 % done
19.48 % done
19.52 % done
19.57 % done
19.61 % done
19.65 % done
19.69 % done
19.74 % done
19.78 % done
19.82 % done
19.86 % done
19.91 % done
19.95 % done
19.99 % done
20.03 % done
20.08 % done
20.12 % done
20.16 % done
20.2 % done
20.25 % done
20.29 % done
20.33 % done
20.37 % done
20.42 % done
20.46 % done
20.5 % done
20.54 % done
20.59 % done
20.63 % done
20.67 % done
20.71 % done
20.76 % done
20.8 % done
20.84 % done
20.88 % done
20.93 % done
20.97 % done
21.01 % done
21.05 % done
21.1 % done
21.14 % done
21.18 % done
21.22 % done
21.26 % done
21.31 % done
21.35 % done
21.39 % done
21.43 % done
21.48 % done
812747805718642688 _ [{'code': 144, 'message': 'No status found with that ID.'}]
21.52 % done
21.56 % done
21.6 % done
21.65 % done
21.69 % done
21.73 % done
21.77 % done
21.82 % done
21.86 % done
21.9 % done
21.94 % done
21.99 % done
22.03 % done
22.07 % done
22.11 % done
22.16 % done
22.2 % done
22.24 % done
22.28 % done
22.33 % done
22.37 % done
22.41 % done
22.45 % done
22.5 % done
22.54 % done
22.58 % done
22.62 % done
22.67 % done
22.71 % done
22.75 % done
22.79 % done
22.84 % done
22.88 % done
22.92 % done
22.96 % done
23.01 % done
23.05 % done
23.09 % done
23.13 % done
23.17 % done
23.22 % done

23.26 % done
23.3 % done
23.34 % done
23.39 % done
23.43 % done
23.47 % done
23.51 % done
23.56 % done
23.6 % done
23.64 % done
23.68 % done
23.73 % done
23.77 % done
23.81 % done
23.85 % done
23.9 % done
23.94 % done
23.98 % done
24.02 % done
802247111496568832 _ [{'code': 144, 'message': 'No status found with that ID.'}]
24.07 % done
24.11 % done
24.15 % done
24.19 % done
24.24 % done
24.28 % done
24.32 % done
24.36 % done
24.41 % done
24.45 % done
24.49 % done
24.53 % done
24.58 % done
24.62 % done
24.66 % done
24.7 % done
24.75 % done
24.79 % done
24.83 % done
24.87 % done
24.92 % done
24.96 % done
25.0 % done
25.04 % done
25.08 % done
25.13 % done
25.17 % done
25.21 % done
25.25 % done
25.3 % done
25.34 % done
25.38 % done
25.42 % done
25.47 % done
25.51 % done
25.55 % done
25.59 % done
25.64 % done
25.68 % done
25.72 % done
25.76 % done
25.81 % done
25.85 % done
25.89 % done
25.93 % done
25.98 % done
26.02 % done
26.06 % done
26.1 % done
26.15 % done
26.19 % done
26.23 % done
26.27 % done
26.32 % done
26.36 % done
26.4 % done
26.44 % done
26.49 % done
26.53 % done
26.57 % done
26.61 % done
26.66 % done
26.7 % done
26.74 % done
26.78 % done
26.83 % done
26.87 % done
26.91 % done
26.95 % done
26.99 % done
27.04 % done
27.08 % done
27.12 % done
27.16 % done
27.21 % done
27.25 % done
27.29 % done
27.33 % done
27.38 % done
27.42 % done
27.46 % done
27.5 % done
27.55 % done
27.59 % done
27.63 % done
27.67 % done
27.72 % done
27.76 % done
27.8 % done
27.84 % done
27.89 % done
27.93 % done
27.97 % done
28.01 % done
28.06 % done
28.1 % done
28.14 % done
28.18 % done
28.23 % done
28.27 % done
28.31 % done
28.35 % done
28.4 % done
28.44 % done
28.48 % done
28.52 % done
28.57 % done
28.61 % done
28.65 % done
28.69 % done
28.74 % done
28.78 % done
28.82 % done
28.86 % done
28.9 % done
28.95 % done
28.99 % done
29.03 % done
29.07 % done
29.12 % done
29.16 % done
29.2 % done
29.24 % done
29.29 % done
29.33 % done
29.37 % done
29.41 % done
29.46 % done
29.5 % done
29.54 % done
29.58 % done
29.63 % done
29.67 % done
29.71 % done
29.75 % done
29.8 % done
29.84 % done
29.88 % done
29.92 % done
29.97 % done
30.01 % done
30.05 % done
30.09 % done
30.14 % done
30.18 % done
30.22 % done
30.26 % done
30.31 % done
30.35 % done
30.39 % done
30.43 % done
30.48 % done
30.52 % done
30.56 % done
30.6 % done
30.65 % done
30.69 % done
30.73 % done
30.77 % done
30.81 % done
30.86 % done
30.9 % done
30.94 % done
30.98 % done
31.03 % done
31.07 % done
31.11 % done
31.15 % done
31.2 % done
31.24 % done
31.28 % done
31.32 % done
31.37 % done
31.41 % done
31.45 % done
31.49 % done
31.54 % done
31.58 % done
31.62 % done
31.66 % done
31.71 % done
31.75 % done
31.79 % done
31.83 % done
779123168116150273 _ [{'code': 144, 'message': 'No status found with that ID.'}]
31.88 % done
31.92 % done
31.96 % done
32.0 % done
32.05 % done
32.09 % done
32.13 % done
32.17 % done
32.22 % done
32.26 % done
32.3 % done
32.34 % done
32.39 % done
32.43 % done
32.47 % done
32.51 % done
32.56 % done
32.6 % done
32.64 % done
32.68 % done
32.72 % done
32.77 % done
32.81 % done
32.85 % done
32.89 % done
32.94 % done
32.98 % done
33.02 % done
33.06 % done
33.11 % done
33.15 % done
33.19 % done
33.23 % done
33.28 % done
775096608509886464 _ [{'code': 144, 'message': 'No status found with that ID.'}]
33.32 % done
33.36 % done
33.4 % done
33.45 % done
33.49 % done
33.53 % done
33.57 % done
33.62 % done
33.66 % done
33.7 % done
33.74 % done
33.79 % done
33.83 % done
33.87 % done
33.91 % done
33.96 % done
34.0 % done
34.04 % done
34.08 % done
34.13 % done
34.17 % done
34.21 % done
34.25 % done
34.3 % done
34.34 % done
34.38 % done
34.42 % done
34.47 % done
34.51 % done
34.55 % done
34.59 % done
771004394259247104 _ [{'code': 179, 'message': 'Sorry, you are not authorized to see this status.'}]
34.63 % done
34.68 % done
34.72 % done
770743923962707968 _ [{'code': 144, 'message': 'No status found with that ID.'}]
34.76 % done
34.8 % done
34.85 % done
34.89 % done
34.93 % done
34.97 % done
35.02 % done
35.06 % done
35.1 % done
35.14 % done
35.19 % done
35.23 % done
35.27 % done
35.31 % done
35.36 % done
35.4 % done
35.44 % done
35.48 % done
35.53 % done
35.57 % done
35.61 % done
35.65 % done
35.7 % done
35.74 % done
35.78 % done
35.82 % done
35.87 % done
35.91 % done
35.95 % done
35.99 % done
36.04 % done
36.08 % done
36.12 % done
36.16 % done
36.21 % done
36.25 % done
36.29 % done
36.33 % done
36.38 % done
36.42 % done
36.46 % done
36.5 % done
36.54 % done
36.59 % done
36.63 % done
36.67 % done
36.71 % done
36.76 % done
36.8 % done
36.84 % done
36.88 % done
36.93 % done
36.97 % done
37.01 % done
37.05 % done
37.1 % done
37.14 % done
37.18 % done
37.22 % done
37.27 % done
37.31 % done
37.35 % done
37.39 % done
37.44 % done
37.48 % done
37.52 % done
37.56 % done
37.61 % done
37.65 % done
37.69 % done
37.73 % done
37.78 % done
759566828574212096 _ [{'code': 144, 'message': 'No status found with that ID.'}]
37.82 % done
37.86 % done
37.9 % done
37.95 % done
37.99 % done
38.03 % done
38.07 % done
38.12 % done
38.16 % done
38.2 % done
38.24 % done
38.29 % done
38.33 % done
38.37 % done
38.41 % done
38.46 % done
38.5 % done
38.54 % done
38.58 % done
38.62 % done
38.67 % done
38.71 % done
38.75 % done
38.79 % done
38.84 % done
38.88 % done
38.92 % done
38.96 % done
39.01 % done
39.05 % done
39.09 % done
39.13 % done
39.18 % done
39.22 % done
39.26 % done
39.3 % done
39.35 % done
39.39 % done
39.43 % done
39.47 % done
39.52 % done
39.56 % done
754011816964026368 _ [{'code': 144, 'message': 'No status found with that ID.'}]
39.6 % done
39.64 % done
39.69 % done
39.73 % done
39.77 % done
39.81 % done
39.86 % done
39.9 % done
39.94 % done
39.98 % done
40.03 % done
40.07 % done
40.11 % done
40.15 % done
40.2 % done
40.24 % done
40.28 % done
40.32 % done
40.37 % done
40.41 % done
40.45 % done
40.49 % done
40.53 % done
40.58 % done
40.62 % done
40.66 % done
40.7 % done
40.75 % done
40.79 % done
40.83 % done
40.87 % done
40.92 % done
40.96 % done
41.0 % done
41.04 % done
41.09 % done
41.13 % done
41.17 % done
41.21 % done
41.26 % done
41.3 % done
41.34 % done
41.38 % done
41.43 % done
41.47 % done
41.51 % done
41.55 % done
41.6 % done
41.64 % done
41.68 % done
41.72 % done
41.77 % done
41.81 % done
41.85 % done
41.89 % done
41.94 % done
41.98 % done
42.02 % done
42.06 % done
42.11 % done
42.15 % done
42.19 % done
42.23 % done
42.28 % done
42.32 % done
42.36 % done
42.4 % done
42.44 % done
42.49 % done
42.53 % done
42.57 % done
42.61 % done
42.66 % done
42.7 % done
42.74 % done
42.78 % done
42.83 % done
42.87 % done
42.91 % done
42.95 % done
43.0 % done
43.04 % done
43.08 % done
43.12 % done
43.17 % done
43.21 % done
43.25 % done
43.29 % done
43.34 % done
43.38 % done
43.42 % done
43.46 % done
43.51 % done
43.55 % done
43.59 % done
43.63 % done
43.68 % done
43.72 % done
43.76 % done
43.8 % done
43.85 % done
43.89 % done
43.93 % done
43.97 % done
44.02 % done
44.06 % done
44.1 % done
44.14 % done
44.19 % done
44.23 % done
44.27 % done
44.31 % done
44.35 % done
44.4 % done
44.44 % done
44.48 % done
44.52 % done
44.57 % done
44.61 % done
44.65 % done
44.69 % done
44.74 % done
44.78 % done
44.82 % done
44.86 % done
44.91 % done
44.95 % done
44.99 % done
45.03 % done
45.08 % done
45.12 % done
45.16 % done
45.2 % done
45.25 % done
45.29 % done
45.33 % done
45.37 % done
45.42 % done
45.46 % done
45.5 % done
45.54 % done
45.59 % done
45.63 % done
45.67 % done
45.71 % done
45.76 % done
45.8 % done
45.84 % done
45.88 % done
45.93 % done
45.97 % done
46.01 % done
46.05 % done
46.1 % done
46.14 % done
46.18 % done
46.22 % done
46.26 % done
46.31 % done
46.35 % done
46.39 % done
46.43 % done
46.48 % done
46.52 % done
46.56 % done
46.6 % done
46.65 % done
46.69 % done
46.73 % done
46.77 % done
46.82 % done
46.86 % done
46.9 % done
46.94 % done
46.99 % done
47.03 % done
47.07 % done
47.11 % done
47.16 % done
47.2 % done
47.24 % done
47.28 % done
47.33 % done
47.37 % done
47.41 % done
47.45 % done
47.5 % done
47.54 % done
47.58 % done
47.62 % done
47.67 % done
47.71 % done
47.75 % done
47.79 % done
47.84 % done
47.88 % done
47.92 % done
47.96 % done
48.01 % done
48.05 % done
48.09 % done
48.13 % done
48.17 % done
48.22 % done
48.26 % done

48.3 % done
48.34 % done
48.39 % done
48.43 % done
48.47 % done
48.51 % done
48.56 % done
48.6 % done
48.64 % done
48.68 % done
48.73 % done
48.77 % done
48.81 % done
48.85 % done
48.9 % done
48.94 % done
48.98 % done
49.02 % done
49.07 % done
49.11 % done
49.15 % done
49.19 % done
49.24 % done
49.28 % done
49.32 % done
49.36 % done
49.41 % done
49.45 % done
49.49 % done
49.53 % done
49.58 % done
49.62 % done
49.66 % done
49.7 % done
49.75 % done
49.79 % done
49.83 % done
49.87 % done
49.92 % done
49.96 % done
50.0 % done
50.04 % done
50.08 % done
50.13 % done
50.17 % done
50.21 % done
50.25 % done
50.3 % done
50.34 % done
50.38 % done
50.42 % done
50.47 % done
50.51 % done
50.55 % done
50.59 % done
50.64 % done
50.68 % done
50.72 % done
50.76 % done
50.81 % done
50.85 % done
50.89 % done
50.93 % done
50.98 % done
51.02 % done
51.06 % done
51.1 % done
51.15 % done
51.19 % done
51.23 % done
51.27 % done
51.32 % done
51.36 % done
51.4 % done
51.44 % done
51.49 % done
51.53 % done
51.57 % done
51.61 % done
51.66 % done
51.7 % done
51.74 % done
51.78 % done
51.83 % done
51.87 % done
51.91 % done
51.95 % done
51.99 % done
52.04 % done
52.08 % done
52.12 % done
52.16 % done
52.21 % done
52.25 % done
52.29 % done
52.33 % done
52.38 % done
52.42 % done
52.46 % done
52.5 % done
52.55 % done
52.59 % done
52.63 % done
52.67 % done
52.72 % done
52.76 % done
52.8 % done
52.84 % done
52.89 % done
52.93 % done
52.97 % done
53.01 % done
53.06 % done
53.1 % done
53.14 % done
53.18 % done
53.23 % done
53.27 % done
53.31 % done
53.35 % done
53.4 % done
53.44 % done
53.48 % done
53.52 % done
53.57 % done
53.61 % done
53.65 % done
53.69 % done
53.74 % done
53.78 % done
53.82 % done
53.86 % done
53.9 % done
53.95 % done
53.99 % done
54.03 % done
54.07 % done
54.12 % done
54.16 % done
54.2 % done
54.24 % done
54.29 % done
54.33 % done
54.37 % done
54.41 % done
54.46 % done
54.5 % done
54.54 % done
54.58 % done
54.63 % done
54.67 % done
54.71 % done
54.75 % done
54.8 % done
54.84 % done
54.88 % done
54.92 % done
54.97 % done
55.01 % done
55.05 % done
55.09 % done
55.14 % done
55.18 % done
55.22 % done
55.26 % done
55.31 % done
55.35 % done
55.39 % done
55.43 % done
55.48 % done
55.52 % done
55.56 % done
55.6 % done
55.65 % done
55.69 % done
55.73 % done
55.77 % done
55.81 % done
55.86 % done
55.9 % done
55.94 % done
55.98 % done
56.03 % done
56.07 % done
56.11 % done
56.15 % done
56.2 % done
56.24 % done
56.28 % done
56.32 % done
56.37 % done
56.41 % done
56.45 % done
56.49 % done
56.54 % done
56.58 % done
56.62 % done
56.66 % done
56.71 % done
56.75 % done
56.79 % done
56.83 % done
56.88 % done
56.92 % done
56.96 % done
57.0 % done
57.05 % done
57.09 % done
57.13 % done
57.17 % done
57.22 % done
57.26 % done
57.3 % done
57.34 % done
57.39 % done
57.43 % done
57.47 % done
57.51 % done
57.56 % done
57.6 % done
57.64 % done
57.68 % done
57.72 % done
57.77 % done
57.81 % done
57.85 % done
57.89 % done
57.94 % done
57.98 % done
58.02 % done
58.06 % done
58.11 % done
58.15 % done
58.19 % done
58.23 % done
58.28 % done
58.32 % done
58.36 % done
58.4 % done
58.45 % done
58.49 % done
58.53 % done
58.57 % done
58.62 % done
58.66 % done
58.7 % done
58.74 % done
58.79 % done
58.83 % done
58.87 % done
58.91 % done
58.96 % done
59.0 % done
59.04 % done
59.08 % done
59.13 % done
59.17 % done
59.21 % done
59.25 % done
59.3 % done
59.34 % done
59.38 % done
59.42 % done
59.47 % done
59.51 % done
59.55 % done
59.59 % done
59.63 % done
59.68 % done
59.72 % done
59.76 % done
59.8 % done
59.85 % done
59.89 % done
59.93 % done
59.97 % done
60.02 % done
60.06 % done
60.1 % done
60.14 % done
60.19 % done
60.23 % done
60.27 % done
60.31 % done
60.36 % done
60.4 % done
60.44 % done
60.48 % done
60.53 % done
60.57 % done
60.61 % done
60.65 % done
60.7 % done
60.74 % done
60.78 % done
60.82 % done
60.87 % done
60.91 % done
60.95 % done
60.99 % done
61.04 % done
61.08 % done
61.12 % done
61.16 % done
61.21 % done
61.25 % done
61.29 % done
61.33 % done
61.38 % done
61.42 % done
61.46 % done
61.5 % done
61.54 % done
61.59 % done
61.63 % done
61.67 % done
61.71 % done
61.76 % done
61.8 % done
61.84 % done
61.88 % done
61.93 % done
61.97 % done
62.01 % done
62.05 % done
62.1 % done
62.14 % done
62.18 % done
62.22 % done
62.27 % done
62.31 % done
62.35 % done
62.39 % done
62.44 % done
62.48 % done
62.52 % done
62.56 % done
62.61 % done
62.65 % done
62.69 % done
62.73 % done
62.78 % done
62.82 % done
62.86 % done
62.9 % done
62.95 % done
62.99 % done
63.03 % done
63.07 % done
63.12 % done
63.16 % done
63.2 % done
63.24 % done
63.29 % done
63.33 % done
63.37 % done
63.41 % done
63.46 % done
63.5 % done
63.54 % done
63.58 % done
63.62 % done
63.67 % done
63.71 % done
63.75 % done
63.79 % done
63.84 % done
63.88 % done
63.92 % done
63.96 % done
64.01 % done
64.05 % done
64.09 % done
64.13 % done
64.18 % done
64.22 % done
64.26 % done
64.3 % done
64.35 % done
64.39 % done
64.43 % done
64.47 % done
64.52 % done
64.56 % done
64.6 % done
64.64 % done
64.69 % done
64.73 % done
64.77 % done
64.81 % done
64.86 % done
64.9 % done
64.94 % done
64.98 % done
65.03 % done
65.07 % done
65.11 % done
65.15 % done
65.2 % done
65.24 % done
65.28 % done
65.32 % done
65.37 % done
65.41 % done
65.45 % done
65.49 % done
65.53 % done
65.58 % done
65.62 % done
65.66 % done
65.7 % done
65.75 % done
65.79 % done
65.83 % done
65.87 % done
65.92 % done
65.96 % done
66.0 % done
66.04 % done
66.09 % done
66.13 % done
66.17 % done
66.21 % done
66.26 % done
66.3 % done
66.34 % done
66.38 % done
66.43 % done
66.47 % done
66.51 % done
66.55 % done
66.6 % done
66.64 % done
66.68 % done
66.72 % done
66.77 % done
66.81 % done
66.85 % done
66.89 % done
66.94 % done
66.98 % done
67.02 % done
67.06 % done
67.11 % done
67.15 % done
67.19 % done
67.23 % done
67.28 % done
67.32 % done
67.36 % done
67.4 % done
67.44 % done
67.49 % done
67.53 % done
67.57 % done
67.61 % done
67.66 % done
67.7 % done
67.74 % done
67.78 % done
67.83 % done
67.87 % done
67.91 % done
67.95 % done
68.0 % done
68.04 % done
68.08 % done
68.12 % done
68.17 % done
68.21 % done
68.25 % done
68.29 % done
68.34 % done
68.38 % done
68.42 % done
68.46 % done
68.51 % done
68.55 % done
68.59 % done
68.63 % done
68.68 % done
68.72 % done
68.76 % done
68.8 % done
68.85 % done
68.89 % done
68.93 % done

Rate limit reached. Sleeping for: 83

68.97 % done
69.02 % done
69.06 % done
69.1 % done
69.14 % done
69.19 % done
69.23 % done
69.27 % done
69.31 % done
69.35 % done
69.4 % done
69.44 % done
69.48 % done
69.52 % done
69.57 % done
69.61 % done
69.65 % done
69.69 % done
69.74 % done
69.78 % done
69.82 % done
69.86 % done
69.91 % done
69.95 % done
69.99 % done
70.03 % done
70.08 % done
70.12 % done
70.16 % done
70.2 % done
70.25 % done
70.29 % done
70.33 % done
70.37 % done
70.42 % done
70.46 % done
70.5 % done
70.54 % done
70.59 % done
70.63 % done
70.67 % done
70.71 % done
70.76 % done
70.8 % done
70.84 % done
70.88 % done
70.93 % done
70.97 % done
71.01 % done
71.05 % done
71.1 % done
71.14 % done
71.18 % done
71.22 % done
71.26 % done
71.31 % done
71.35 % done
71.39 % done
71.43 % done
71.48 % done
71.52 % done
71.56 % done
71.6 % done
71.65 % done
71.69 % done
71.73 % done
71.77 % done
71.82 % done
71.86 % done
71.9 % done
71.94 % done
71.99 % done
72.03 % done
72.07 % done
72.11 % done
72.16 % done
72.2 % done
72.24 % done
72.28 % done
72.33 % done
72.37 % done
72.41 % done
72.45 % done
72.5 % done
72.54 % done
72.58 % done
72.62 % done
72.67 % done
72.71 % done
72.75 % done
72.79 % done
72.84 % done
72.88 % done
72.92 % done
72.96 % done
73.01 % done
73.05 % done
73.09 % done
73.13 % done
73.17 % done
73.22 % done
73.26 % done
680055455951884288 _ [{'code': 144, 'message': 'No status found with that ID.'}]
73.3 % done
73.34 % done
73.39 % done
73.43 % done
73.47 % done
73.51 % done
73.56 % done
73.6 % done
73.64 % done
73.68 % done
73.73 % done
73.77 % done
73.81 % done
73.85 % done
73.9 % done
73.94 % done
73.98 % done
74.02 % done
74.07 % done
74.11 % done
74.15 % done
74.19 % done
74.24 % done
74.28 % done
74.32 % done
74.36 % done
74.41 % done
74.45 % done
74.49 % done
74.53 % done
74.58 % done
74.62 % done
74.66 % done
74.7 % done
74.75 % done
74.79 % done
74.83 % done
74.87 % done
74.92 % done
74.96 % done
75.0 % done
75.04 % done
75.08 % done
75.13 % done
75.17 % done
75.21 % done
75.25 % done
75.3 % done
75.34 % done
75.38 % done
75.42 % done
75.47 % done
75.51 % done
75.55 % done
75.59 % done
75.64 % done
75.68 % done
75.72 % done
75.76 % done
75.81 % done
75.85 % done
75.89 % done
75.93 % done
75.98 % done
76.02 % done
76.06 % done
76.1 % done
76.15 % done
76.19 % done
76.23 % done
76.27 % done
76.32 % done
76.36 % done
76.4 % done
76.44 % done
76.49 % done
76.53 % done
76.57 % done
76.61 % done
76.66 % done
76.7 % done
76.74 % done
76.78 % done
76.83 % done
76.87 % done
76.91 % done
76.95 % done
76.99 % done
77.04 % done
77.08 % done
77.12 % done
77.16 % done
77.21 % done
77.25 % done
77.29 % done
77.33 % done
77.38 % done
77.42 % done
77.46 % done
77.5 % done
77.55 % done
77.59 % done
77.63 % done
77.67 % done
77.72 % done
77.76 % done
77.8 % done
77.84 % done
77.89 % done
77.93 % done
77.97 % done
78.01 % done
78.06 % done
78.1 % done
78.14 % done
78.18 % done
78.23 % done
78.27 % done
78.31 % done
78.35 % done
78.4 % done
78.44 % done
78.48 % done
78.52 % done
78.57 % done
78.61 % done
78.65 % done
78.69 % done
78.74 % done
78.78 % done
78.82 % done
78.86 % done
78.9 % done
78.95 % done
78.99 % done
79.03 % done
79.07 % done
79.12 % done
79.16 % done
79.2 % done
79.24 % done
79.29 % done
79.33 % done
79.37 % done
79.41 % done
79.46 % done
79.5 % done
79.54 % done
79.58 % done
79.63 % done
79.67 % done
79.71 % done
79.75 % done
79.8 % done
79.84 % done
79.88 % done
79.92 % done
79.97 % done
80.01 % done
80.05 % done
80.09 % done
80.14 % done
80.18 % done
80.22 % done
80.26 % done
80.31 % done
80.35 % done
80.39 % done
80.43 % done
80.48 % done
80.52 % done
80.56 % done
80.6 % done
80.65 % done
80.69 % done
80.73 % done
80.77 % done
80.81 % done
80.86 % done
80.9 % done
80.94 % done
80.98 % done
81.03 % done
81.07 % done
81.11 % done
81.15 % done
81.2 % done
81.24 % done
81.28 % done
81.32 % done
81.37 % done
81.41 % done
81.45 % done
81.49 % done
81.54 % done
81.58 % done
81.62 % done
81.66 % done
81.71 % done
81.75 % done
81.79 % done
81.83 % done
81.88 % done
81.92 % done
81.96 % done
82.0 % done
82.05 % done
82.09 % done
82.13 % done
82.17 % done
82.22 % done
82.26 % done
82.3 % done
82.34 % done
82.39 % done
82.43 % done
82.47 % done
82.51 % done
82.56 % done
82.6 % done
82.64 % done
82.68 % done
82.72 % done
82.77 % done
82.81 % done
82.85 % done
82.89 % done
82.94 % done
82.98 % done
83.02 % done
83.06 % done
83.11 % done
83.15 % done
83.19 % done
83.23 % done
83.28 % done
83.32 % done
83.36 % done
83.4 % done
83.45 % done
83.49 % done
83.53 % done
83.57 % done
83.62 % done
83.66 % done
83.7 % done
83.74 % done
83.79 % done
83.83 % done
83.87 % done
83.91 % done
83.96 % done
84.0 % done
84.04 % done
84.08 % done
84.13 % done
84.17 % done
84.21 % done
84.25 % done
84.3 % done
84.34 % done
84.38 % done
84.42 % done
84.47 % done
84.51 % done
84.55 % done
84.59 % done
84.63 % done
84.68 % done
84.72 % done
84.76 % done
84.8 % done
84.85 % done
84.89 % done
84.93 % done
84.97 % done
85.02 % done
85.06 % done
85.1 % done
85.14 % done
85.19 % done
85.23 % done
85.27 % done
85.31 % done
85.36 % done
85.4 % done
85.44 % done
85.48 % done
85.53 % done
85.57 % done
85.61 % done
85.65 % done
85.7 % done
85.74 % done
85.78 % done
85.82 % done
85.87 % done
85.91 % done
85.95 % done
85.99 % done
86.04 % done
86.08 % done
86.12 % done
86.16 % done
86.21 % done
86.25 % done
86.29 % done
86.33 % done
86.38 % done
86.42 % done
86.46 % done
86.5 % done
86.54 % done
86.59 % done
86.63 % done
86.67 % done
86.71 % done
86.76 % done
86.8 % done
86.84 % done
86.88 % done
86.93 % done
86.97 % done
87.01 % done
87.05 % done
87.1 % done
87.14 % done
87.18 % done
87.22 % done
87.27 % done
87.31 % done
87.35 % done
87.39 % done
87.44 % done
87.48 % done
87.52 % done
87.56 % done
87.61 % done
87.65 % done
87.69 % done
87.73 % done
87.78 % done
87.82 % done
87.86 % done
87.9 % done
87.95 % done
87.99 % done
88.03 % done
88.07 % done
88.12 % done
88.16 % done
88.2 % done
88.24 % done
88.29 % done
88.33 % done
88.37 % done
88.41 % done
88.46 % done
88.5 % done
88.54 % done
88.58 % done
88.62 % done
88.67 % done
88.71 % done
88.75 % done
88.79 % done
88.84 % done
88.88 % done
88.92 % done
88.96 % done
89.01 % done
89.05 % done
89.09 % done
89.13 % done
89.18 % done
89.22 % done
89.26 % done
89.3 % done
89.35 % done
89.39 % done
89.43 % done
89.47 % done
89.52 % done
89.56 % done
89.6 % done
89.64 % done
89.69 % done
89.73 % done
89.77 % done
89.81 % done
89.86 % done
89.9 % done
89.94 % done
89.98 % done
90.03 % done
90.07 % done
90.11 % done
90.15 % done
90.2 % done
90.24 % done
90.28 % done
90.32 % done
90.37 % done
90.41 % done
90.45 % done
90.49 % done
90.53 % done
90.58 % done
90.62 % done
90.66 % done
90.7 % done
90.75 % done
90.79 % done
90.83 % done
90.87 % done
90.92 % done
90.96 % done
91.0 % done
91.04 % done
91.09 % done
91.13 % done
91.17 % done
91.21 % done
91.26 % done
91.3 % done
91.34 % done
91.38 % done
91.43 % done
91.47 % done
91.51 % done
91.55 % done
91.6 % done
91.64 % done
91.68 % done
91.72 % done
91.77 % done
91.81 % done
91.85 % done
91.89 % done
91.94 % done
91.98 % done
92.02 % done
92.06 % done
92.11 % done
92.15 % done
92.19 % done
92.23 % done
92.28 % done
92.32 % done
92.36 % done
92.4 % done
92.44 % done
92.49 % done
92.53 % done
92.57 % done
92.61 % done
92.66 % done
92.7 % done
92.74 % done
92.78 % done
92.83 % done
92.87 % done
92.91 % done
92.95 % done
93.0 % done
93.04 % done
93.08 % done
93.12 % done
93.17 % done
93.21 % done
93.25 % done
93.29 % done
93.34 % done
93.38 % done
93.42 % done
93.46 % done
93.51 % done
93.55 % done
93.59 % done
93.63 % done
93.68 % done
93.72 % done
93.76 % done
93.8 % done
93.85 % done
93.89 % done
93.93 % done
93.97 % done
94.02 % done
94.06 % done
94.1 % done
94.14 % done
94.19 % done
94.23 % done
94.27 % done
94.31 % done
94.35 % done
94.4 % done
94.44 % done
94.48 % done
94.52 % done
94.57 % done
94.61 % done
94.65 % done
94.69 % done
94.74 % done
94.78 % done
94.82 % done
94.86 % done
94.91 % done
94.95 % done
94.99 % done
95.03 % done
95.08 % done
95.12 % done
95.16 % done
95.2 % done
95.25 % done
95.29 % done
95.33 % done
95.37 % done
95.42 % done
95.46 % done
95.5 % done
95.54 % done
95.59 % done
95.63 % done

95.67 % done
95.71 % done
95.76 % done
95.8 % done
95.84 % done
95.88 % done
95.93 % done
95.97 % done
96.01 % done
96.05 % done
96.1 % done
96.14 % done
96.18 % done
96.22 % done
96.26 % done
96.31 % done
96.35 % done
96.39 % done
96.43 % done
96.48 % done
96.52 % done
96.56 % done
96.6 % done
96.65 % done
96.69 % done
96.73 % done
96.77 % done
96.82 % done
96.86 % done
96.9 % done
96.94 % done
96.99 % done
97.03 % done
97.07 % done
97.11 % done
97.16 % done
97.2 % done
97.24 % done
97.28 % done
97.33 % done
97.37 % done
97.41 % done
97.45 % done
97.5 % done
97.54 % done
97.58 % done
97.62 % done
97.67 % done
97.71 % done
97.75 % done
97.79 % done
97.84 % done
97.88 % done
97.92 % done
97.96 % done
98.01 % done
98.05 % done
98.09 % done
98.13 % done
98.17 % done
98.22 % done
98.26 % done
98.3 % done
98.34 % done
98.39 % done
98.43 % done
98.47 % done
98.51 % done
98.56 % done
98.6 % done
98.64 % done
98.68 % done
98.73 % done
98.77 % done
98.81 % done
98.85 % done
98.9 % done
98.94 % done
98.98 % done
99.02 % done
99.07 % done
99.11 % done
99.15 % done
99.19 % done
99.24 % done
99.28 % done
99.32 % done
99.36 % done
99.41 % done
99.45 % done
99.49 % done
99.53 % done
99.58 % done
99.62 % done
99.66 % done
99.7 % done
99.75 % done
99.79 % done
99.83 % done
99.87 % done
99.92 % done
99.96 % done
100.0 % done
2349.794660806656

In [20]:
# lengh of the result
print("The lengh of the result", len(df_list))
# The tweet_id of the errors
print("The lengh of the errors", len(error_list))

The lengh of the result 2331
The lengh of the errors 25

From the above results:
- We reached the limit of the tweepy API three times but wait_on_rate_limit automatically wait for rate limits to re-establish and wait_on_rate_limit_notify print a notification when Tweepy is waiting.
- We could get 2344 tweet_id correctly with 12 errors
- The total time was about 3023 seconds (~ 50.5 min)

In [21]:
print("The length of the result", len(df_list))

The length of the result 2331

In [22]:
# Create DataFrames from list of dictionaries
json_tweets = pd.DataFrame(df_list, columns = ['tweet_id', 'favorites', 'retweets',
                                               'user_followers', 'user_favourites', 'date_time'])
# Save the dataFrame in file
json_tweets.to_csv('tweet_json.txt', encoding = 'utf-8', index=False)

In [23]:
# Read the saved tweet_json.txt file into a dataframe
tweet_data = pd.read_csv('tweet_json.txt', encoding = 'utf-8')
tweet_data

,tweet_id,favorites,retweets,user_followers,user_favourites,date_time
0,892420643555336193,35865,7598,8822720,145809,2017-08-01 16:23:56+00:00
1,892177421306343426,30938,5627,8822079,145808,2017-08-01 00:17:27+00:00
2,891815181378084864,23282,3724,8822079,145808,2017-07-31 00:18:03+00:00
3,891689557279858688,39134,7775,8822079,145808,2017-07-30 15:58:51+00:00
4,891327558926688256,37384,8375,8822079,145808,2017-07-29 16:00:24+00:00
...,...,...,...,...,...,...
2326,666049248165822465,96,40,8822137,145810,2015-11-16 00:24:50+00:00
2327,666044226329800704,268,130,8822137,145810,2015-11-16 00:04:52+00:00
2328,666033412701032449,111,41,8822137,145810,2015-11-15 23:21:54+00:00
2329,666029285002620928,120,42,8822137,145810,2015-11-15 23:05:30+00:00
2330,666020888022790149,2388,458,8822137,145810,2015-11-15 22:32:08+00:00

In [24]:
tweet_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2331 entries, 0 to 2330
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tweet_id         2331 non-null   int64
 1   favorites        2331 non-null   int64
 2   retweets         2331 non-null   int64
 3   user_followers   2331 non-null   int64
 4   user_favourites  2331 non-null   int64
 5   date_time        2331 non-null   object
dtypes: int64(5), object(1)
memory usage: 109.4+ KB

## Gather: Summary
Gathering is the first step in the data wrangling process.
- Obtaining data
   - Getting data from an existing file (twitter-archive-enhanced.csv) Reading from csv file using pandas
   - Downloading a file from the internet (image-predictions.tsv) Downloading file using requests
   - Querying an API (tweet_json.txt) Get JSON object of all the tweet_ids using Tweepy
- Importing that data into our programming environment (Jupyter Notebook)

## Assessing

In [25]:
# Print some random examples
twitter_archive.sample(10)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
958,751456908746354688,NaN,NaN,2016-07-08 16:44:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a pupper that's very hungry but too laz...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/751456908...,12,10,None,None,None,pupper,None
925,755110668769038337,NaN,NaN,2016-07-18 18:43:07 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Watson. He trust falls on command. 13/...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/755110668...,13,10,Watson,None,None,None,None
531,808106460588765185,NaN,NaN,2016-12-12 00:29:28 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have Burke (pupper) and Dexter (doggo)...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/808106460...,12,10,None,doggo,None,pupper,None
1429,697596423848730625,NaN,NaN,2016-02-11 01:42:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a pupper with a piece of pizza. Two of ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/697596423...,11,10,None,None,None,pupper,None
1230,713411074226274305,NaN,NaN,2016-03-25 17:03:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we see an extremely rare Bearded Floofmal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/713411074...,11,10,None,None,None,None,None
351,831322785565769729,NaN,NaN,2017-02-14 02:02:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Pete. He has no eyes. Needs a guide do...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/831322785...,12,10,Pete,doggo,None,None,None
1724,680085611152338944,NaN,NaN,2015-12-24 18:00:19 +0000,"<a href=""https://about.twitter.com/products/tw...",This is by far the most coordinated series of ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/680085611...,12,10,by,None,None,None,None
46,883360690899218434,NaN,NaN,2017-07-07 16:22:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Grizzwald. He may be the floofiest floofe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/883360690...,13,10,Grizzwald,None,floofer,None,None
2288,667176164155375616,NaN,NaN,2015-11-19 03:02:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...",These are strange dogs. All have toupees. Long...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667176164...,4,10,None,None,None,None,None
2310,666786068205871104,NaN,NaN,2015-11-18 01:12:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Unfamiliar with this breed. Ears pointy af. Wo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666786068...,2,10,None,None,None,None,None

In [26]:
# Assessing the data programmaticaly
twitter_archive.info()
twitter_archive.describe()
twitter_archive['rating_numerator'].value_counts()
twitter_archive['rating_denominator'].value_counts()
twitter_archive['name'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

None       745
a           55
Charlie     12
Lucy        11
Oliver      11
          ...
Andy         1
Kanu         1
Tanner       1
Sully        1
Ginger       1
Name: name, Length: 957, dtype: int64

In [27]:
# View descriptive statistics of twitter_archive
twitter_archive.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [28]:
image_predictions

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [29]:
image_predictions.info()
image_predictions['jpg_url'].value_counts()
image_predictions[image_predictions['jpg_url'] == 'https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.22577,True,German_short-haired_pointer,0.175219,True

In [30]:
# View number of entries for each source
twitter_archive.source.value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

In [31]:
#For rating that don't follow pattern
twitter_archive[twitter_archive['rating_numerator'] > 20]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
188,855862651834028034,8.558616e+17,1.943518e+08,2017-04-22 19:15:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@dhmontgomery We also gave snoop dogg a 420/10...,NaN,NaN,NaN,NaN,420,10,None,None,None,None,None
189,855860136149123072,8.558585e+17,1.361572e+07,2017-04-22 19:05:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@s8n You tried very hard to portray this good ...,NaN,NaN,NaN,NaN,666,10,None,None,None,None,None
290,838150277551247360,8.381455e+17,2.195506e+07,2017-03-04 22:12:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@markhoppus 182/10,NaN,NaN,NaN,NaN,182,10,None,None,None,None,None
313,835246439529840640,8.352460e+17,2.625958e+07,2017-02-24 21:54:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@jonnysun @Lin_Manuel ok jomny I know you're e...,NaN,NaN,NaN,NaN,960,0,None,None,None,None,None
340,832215909146226688,NaN,NaN,2017-02-16 13:11:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...","RT @dog_rates: This is Logan, the Chow who liv...",7.867091e+17,4.196984e+09,2016-10-13 23:23:56 +0000,https://twitter.com/dog_rates/status/786709082...,75,10,Logan,None,None,None,None
433,820690176645140481,NaN,NaN,2017-01-15 17:52:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",The floofs have been released I repeat the flo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/820690176...,84,70,None,None,None,None,None
516,810984652412424192,NaN,NaN,2016-12-19 23:06:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Sam. She smiles 24/7 &amp; secretly aspir...,NaN,NaN,NaN,"https://www.gofundme.com/sams-smile,https://tw...",24,7,Sam,None,None,None,None
695,786709082849828864,NaN,NaN,2016-10-13 23:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...","This is Logan, the Chow who lived. He solemnly...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/786709082...,75,10,Logan,None,None,None,None
763,778027034220126208,NaN,NaN,2016-09-20 00:24:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Sophie. She's a Jubilant Bush Pupper. ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/778027034...,27,10,Sophie,None,None,pupper,None
902,758467244762497024,NaN,NaN,2016-07-28 01:00:57 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Why does this never happen at my front door......,NaN,NaN,NaN,https://twitter.com/dog_rates/status/758467244...,165,150,None,None,None,None,None
979,749981277374128128,NaN,NaN,2016-07-04 15:00:45 +0000,"<a href=""https://about.twitter.com/products/tw...",This is Atticus. He's quite simply America af....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/749981277...,1776,10,Atticus,None,None,None,None
1120,731156023742988288,NaN,NaN,2016-05-13 16:15:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to this unbelievably well behaved sq...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/731156023...,204,170,this,None,None,None,None
1202,716439118184652801,NaN,NaN,2016-04-03 01:36:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bluebert. He just saw that both #Final...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/716439118...,50,50,Bluebert,None,None,None,None
1228,713900603437621249,NaN,NaN,2016-03-27 01:29:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Happy Saturday here's 9 puppers on a bench. 99...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/713900603...,99,90,None,None,None,None,None
1254,710658690886586372,NaN,NaN,2016-03-18 02:46:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a brigade of puppers. All look very pre...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/710658690...,80,80,None,None,None,None,None
1274,709198395643068416,NaN,NaN,2016-03-14 02:04:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...","From left to right:\r\nCletus, Jerome, Alejand...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/709198395...,45,50,None,None,None,None,None
1351,704054845121142784,NaN,NaN,2016-02-28 21:25:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a whole flock of puppers. 60/50 I'll ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/704054845...,60,50,a,None,None,None,None
1433,697463031882764288,NaN,NaN,2016-02-10 16:51:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Happy Wednesday here's a bucket of pups. 44/40...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/697463031...,44,40,None,None,None,None,None
1634,684225744407494656,6.842229e+17,4.196984e+09,2016-01-05 04:11:44 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Two sneaky puppers were not initially seen, mo...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/684225744...,143,130,None,None,None,None,None
1635,684222868335505415,NaN,NaN,2016-01-05 04:00:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Someone help the girl is being mugged. Several...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/684222868...,121,110,None,None,None,None,None
1712,680494726643068929,NaN,NaN,2015-12-25 21:06:00 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have uncovered an entire battalion of ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/680494726...,26,10,None,None,None,None,None
1779,677716515794329600,NaN,NaN,2015-12-18 05:06:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...",IT'S PUPPERGEDDON. Total of 144/120 ...I think...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/677716515...,144,120,None,None,None,None,None
1843,675853064436391936,NaN,NaN,2015-12-13 01:41:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have an entire platoon of puppers. Tot...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675853064...,88,80,None,None,None,None,None
2074,670842764863651840,NaN,NaN,2015-11-29 05:52:33 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After so many requests... here you go.\r\n\r\n...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/670842764...,420,10,None,None,None,None,None

In [32]:
#unusual names
twitter_archive[twitter_archive['name'].apply(len) < 3]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
56,881536004380872706,NaN,NaN,2017-07-02 15:32:16 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a pupper approaching maximum borkdrive...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/881536004...,14,10,a,None,None,pupper,None
393,825876512159186944,NaN,NaN,2017-01-30 01:21:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Mo. No one will push him around in the...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/825876512...,11,10,Mo,None,None,None,None
446,819015337530290176,NaN,NaN,2017-01-11 02:57:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Bo. He was a very good ...,8.190048e+17,4.196984e+09,2017-01-11 02:15:36 +0000,https://twitter.com/dog_rates/status/819004803...,14,10,Bo,doggo,None,None,None
449,819004803107983360,NaN,NaN,2017-01-11 02:15:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bo. He was a very good First Doggo. 14...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/819004803...,14,10,Bo,doggo,None,None,None
553,804026241225523202,NaN,NaN,2016-11-30 18:16:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bo. He's going to make me cry. 13/10 p...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/804026241...,13,10,Bo,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2349,666051853826850816,NaN,NaN,2015-11-16 00:35:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an odd dog. Hard on the outside but lo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666051853...,2,10,an,None,None,None,None
2350,666050758794694657,NaN,NaN,2015-11-16 00:30:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a truly beautiful English Wilson Staff...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666050758...,10,10,a,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None

In [33]:
#Orignal Tweets 
twitter_archive[twitter_archive['retweeted_status_id'].isnull()]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

## Quality
*Completeness, Validity, Accuracy, Consistency => a.k.a content issues*

**twitter_archive dataset**
- in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id should be integers/strings instead of float.
- retweeted_status_timestamp, timestamp should be datetime instead of object (string).
- The numerator and denominator columns have invalid values.
- In several columns null objects are non-null (None to NaN).
- Name column have invalid names i.e 'None', 'a', 'an' and less than 3 characters.
- We only want original ratings (no retweets) that have images.
- We may want to change this columns type (in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id and tweet_id) to string because We don't want any operations on them.
- Sources difficult to read.

**image_predictions dataset**
- Missing values from images dataset (2075 rows instead of 2356)
- Some tweet_ids have the same jpg_url
- Some tweets are have 2 different tweet_id one redirect to the other (Dataset contains retweets)

**tweet_data dataset**

- This tweet_id (666020888022790149) duplicated 8 times

## Tidiness
Untidy data => a.k.a structural issues
- No need to all the informations in images dataset, (tweet_id and jpg_url what matters)
- Dog "stage" variable in four columns: doggo, floofer, pupper, puppo
- Join 'tweet_info' and 'image_predictions' to 'twitter_archive'

## Cleaning
Cleaning our data is the third step in data wrangling. It is where we will fix the quality and tidiness issues that we identified in the assess step.

In [34]:
#copy dataframes
tweet_data_clean = tweet_data.copy()
twitter_archive_clean = twitter_archive.copy()
image_predictions_clean= image_predictions.copy()

#### Define
Add tweet_info and image_predictions to twitter_archive table.

#### Code

In [35]:
twitter_archive_clean = pd.merge(left=twitter_archive_clean,
                                 right=tweet_data_clean, left_on='tweet_id', right_on='tweet_id', how='inner')

In [36]:
twitter_archive_clean = twitter_archive_clean.merge(image_predictions_clean, on='tweet_id', how='inner')

#### Test

In [37]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2059 entries, 0 to 2058
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2059 non-null   int64
 1   in_reply_to_status_id       23 non-null     float64
 2   in_reply_to_user_id         23 non-null     float64
 3   timestamp                   2059 non-null   object
 4   source                      2059 non-null   object
 5   text                        2059 non-null   object
 6   retweeted_status_id         72 non-null     float64
 7   retweeted_status_user_id    72 non-null     float64
 8   retweeted_status_timestamp  72 non-null     object
 9   expanded_urls               2059 non-null   object
 10  rating_numerator            2059 non-null   int64
 11  rating_denominator          2059 non-null   int64
 12  name                        2059 non-null   object
 13  doggo                       2059 non-null   object
 14  floofer                     2059 non-null   object
 15  pupper                      2059 non-null   object
 16  puppo                       2059 non-null   object
 17  favorites                   2059 non-null   int64
 18  retweets                    2059 non-null   int64
 19  user_followers              2059 non-null   int64
 20  user_favourites             2059 non-null   int64
 21  date_time                   2059 non-null   object
 22  jpg_url                     2059 non-null   object
 23  img_num                     2059 non-null   int64
 24  p1                          2059 non-null   object
 25  p1_conf                     2059 non-null   float64
 26  p1_dog                      2059 non-null   bool
 27  p2                          2059 non-null   object
 28  p2_conf                     2059 non-null   float64
 29  p2_dog                      2059 non-null   bool
 30  p3                          2059 non-null   object
 31  p3_conf                     2059 non-null   float64
 32  p3_dog                      2059 non-null   bool
dtypes: bool(3), float64(7), int64(8), object(15)
memory usage: 504.7+ KB

#### Define
 Melt the 'doggo', 'floofer', 'pupper' and 'puppo' columns into one column 'dog_stage'.

#### Code

In [38]:
# Select the columns to melt and to remain
MELTS_COLUMNS = ['doggo', 'floofer', 'pupper', 'puppo']
STAY_COLUMNS = [x for x in twitter_archive_clean.columns.tolist() if x not in MELTS_COLUMNS]


# Melt the the columns into values
twitter_archive_clean = pd.melt(twitter_archive_clean, id_vars = STAY_COLUMNS, value_vars = MELTS_COLUMNS, 
                         var_name = 'stages', value_name = 'dog_stage')
# Delete column 'stages'
twitter_archive_clean = twitter_archive_clean.drop('stages', 1)

#### Test

In [39]:
print(twitter_archive_clean.dog_stage.value_counts())
print(len(twitter_archive_clean))

None       7905
pupper      221
doggo        78
puppo        24
floofer       8
Name: dog_stage, dtype: int64
8236

#### Clean
Clean rows and columns that we will not need

#### Code

In [40]:
# Delete the retweets
twitter_archive_clean = twitter_archive_clean[pd.isnull(twitter_archive_clean.retweeted_status_id)]

# Delete duplicated tweet_id
twitter_archive_clean = twitter_archive_clean.drop_duplicates()

# Delete tweets with no pictures
twitter_archive_clean = twitter_archive_clean.dropna(subset = ['jpg_url'])

# small test
len(twitter_archive_clean)

2303

In [41]:
# Delete columns related to retweet we don't need anymore
twitter_archive_clean = twitter_archive_clean.drop('retweeted_status_id', 1)
twitter_archive_clean = twitter_archive_clean.drop('retweeted_status_user_id', 1)
twitter_archive_clean = twitter_archive_clean.drop('retweeted_status_timestamp', 1)

# Delete column date_time we imported from the API, it has the same values as timestamp column
twitter_archive_clean = twitter_archive_clean.drop('date_time', 1)

# small test
list(twitter_archive_clean)

['tweet_id',
 'in_reply_to_status_id',
 'in_reply_to_user_id',
 'timestamp',
 'source',
 'text',
 'expanded_urls',
 'rating_numerator',
 'rating_denominator',
 'name',
 'favorites',
 'retweets',
 'user_followers',
 'user_favourites',
 'jpg_url',
 'img_num',
 'p1',
 'p1_conf',
 'p1_dog',
 'p2',
 'p2_conf',
 'p2_dog',
 'p3',
 'p3_conf',
 'p3_dog',
 'dog_stage']

In [42]:
#Delete dog_stage duplicates
twitter_archive_clean = twitter_archive_clean.sort_values('dog_stage').drop_duplicates('tweet_id', keep = 'last')

#### Test

In [43]:
print(twitter_archive_clean.dog_stage.value_counts())
print(len(twitter_archive_clean))

None       1682
pupper      212
doggo        62
puppo        23
floofer       8
Name: dog_stage, dtype: int64
1987

#### Define
Get rid of image prediction columns

#### Code

In [44]:
# We will store the fisrt true algorithm with it's level of confidence
prediction_algorithm = []
confidence_level = []

# Get_prediction_confidence function:
# search the first true algorithm and append it to a list with it's level of confidence
# if flase prediction_algorthm will have a value of NaN
def get_prediction_confidence(dataframe):
    if dataframe['p1_dog'] == True:
        prediction_algorithm.append(dataframe['p1'])
        confidence_level.append(dataframe['p1_conf'])
    elif dataframe['p2_dog'] == True:
        prediction_algorithm.append(dataframe['p2'])
        confidence_level.append(dataframe['p2_conf'])
    elif dataframe['p3_dog'] == True:
        prediction_algorithm.append(dataframe['p3'])
        confidence_level.append(dataframe['p3_conf'])
    else:
        prediction_algorithm.append('NaN')
        confidence_level.append(0)

twitter_archive_clean.apply(get_prediction_confidence, axis=1)
twitter_archive_clean['prediction_algorithm'] = prediction_algorithm
twitter_archive_clean['confidence_level'] = confidence_level

#### Test

In [45]:
list(twitter_archive_clean)

['tweet_id',
 'in_reply_to_status_id',
 'in_reply_to_user_id',
 'timestamp',
 'source',
 'text',
 'expanded_urls',
 'rating_numerator',
 'rating_denominator',
 'name',
 'favorites',
 'retweets',
 'user_followers',
 'user_favourites',
 'jpg_url',
 'img_num',
 'p1',
 'p1_conf',
 'p1_dog',
 'p2',
 'p2_conf',
 'p2_dog',
 'p3',
 'p3_conf',
 'p3_dog',
 'dog_stage',
 'prediction_algorithm',
 'confidence_level']

In [46]:
# Delete the columns of image prediction information
twitter_archive_clean = twitter_archive_clean.drop(['img_num', 'p1', 'p1_conf', 'p1_dog', 'p2', 'p2_conf', 'p2_dog', 'p3', 'p3_conf', 'p3_dog'], 1)

In [47]:
list(twitter_archive_clean)

['tweet_id',
 'in_reply_to_status_id',
 'in_reply_to_user_id',
 'timestamp',
 'source',
 'text',
 'expanded_urls',
 'rating_numerator',
 'rating_denominator',
 'name',
 'favorites',
 'retweets',
 'user_followers',
 'user_favourites',
 'jpg_url',
 'dog_stage',
 'prediction_algorithm',
 'confidence_level']

In [48]:
# let's concentrate on low values.. let's dig more
twitter_archive_clean.info()
print('in_reply_to_user_id ')
print(twitter_archive_clean['in_reply_to_user_id'].value_counts())
print('source ')
print(twitter_archive_clean['source'].value_counts())
print('user_favourites ')
print(twitter_archive_clean['user_favourites'].value_counts())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1987 entries, 0 to 7053
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   tweet_id               1987 non-null   int64
 1   in_reply_to_status_id  23 non-null     float64
 2   in_reply_to_user_id    23 non-null     float64
 3   timestamp              1987 non-null   object
 4   source                 1987 non-null   object
 5   text                   1987 non-null   object
 6   expanded_urls          1987 non-null   object
 7   rating_numerator       1987 non-null   int64
 8   rating_denominator     1987 non-null   int64
 9   name                   1987 non-null   object
 10  favorites              1987 non-null   int64
 11  retweets               1987 non-null   int64
 12  user_followers         1987 non-null   int64
 13  user_favourites        1987 non-null   int64
 14  jpg_url                1987 non-null   object
 15  dog_stage              1987 non-null   object
 16  prediction_algorithm   1987 non-null   object
 17  confidence_level       1987 non-null   float64
dtypes: float64(3), int64(7), object(8)
memory usage: 294.9+ KB
in_reply_to_user_id
4.196984e+09    23
Name: in_reply_to_user_id, dtype: int64
source
<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     1949
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       28
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      10
Name: source, dtype: int64
user_favourites
145808    1278
145809     513
145810     194
145811       2
Name: user_favourites, dtype: int64

#### Notes
- One value in ***in_reply_to_user_id*** so we will delete the columns of reply all of them replying to @dog_rates.
- ***source** has 3 types, we will clean that column and made them clean.
- **user_favourites** has 2 values and they are close.

In [49]:
# drop the following columns 'in_reply_to_status_id', 'in_reply_to_user_id', 'user_favourites'
twitter_archive_clean = twitter_archive_clean.drop(['in_reply_to_status_id', 'in_reply_to_user_id', 'user_favourites'], 1)

In [50]:
# Clean the content of source column
twitter_archive_clean['source'] = twitter_archive_clean['source'].apply(lambda x: re.findall(r'>(.*)<', x)[0])

In [51]:
# Test
twitter_archive_clean

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,favorites,retweets,user_followers,jpg_url,dog_stage,prediction_algorithm,confidence_level
0,892420643555336193,2017-08-01 16:23:56 +0000,Twitter for iPhone,This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,35865,7598,8822720,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,None,NaN,0.000000
1452,679877062409191424,2015-12-24 04:11:37 +0000,Twitter for iPhone,Meet Penelope. She's a bacon frise. Total babe...,https://twitter.com/dog_rates/status/679877062...,5,10,Penelope,1954,637,8822124,https://pbs.twimg.com/media/CW9olDsUsAA0XSf.jpg,None,NaN,0.000000
1451,680070545539371008,2015-12-24 17:00:27 +0000,TweetDeck,Say hello to Emmie. She's trapped in an orname...,https://twitter.com/dog_rates/status/680070545...,9,10,Emmie,2543,844,8822123,https://pbs.twimg.com/media/CW-dU34WQAANBGy.jpg,None,Shih-Tzu,0.121811
1450,680085611152338944,2015-12-24 18:00:19 +0000,TweetDeck,This is by far the most coordinated series of ...,https://twitter.com/dog_rates/status/680085611...,12,10,by,12601,8811,8822123,https://pbs.twimg.com/media/CXAiiHUWkAIN_28.jpg,None,NaN,0.000000
1448,680115823365742593,2015-12-24 20:00:22 +0000,Twitter for iPhone,This is Ozzy. He woke up 2 minutes before he h...,https://twitter.com/dog_rates/status/680115823...,9,10,Ozzy,2671,882,8822123,https://pbs.twimg.com/media/CXBBurSWMAELewi.jpg,None,pug,0.999365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6191,889531135344209921,2017-07-24 17:02:04 +0000,Twitter for iPhone,This is Stuart. He's sporting his favorite fan...,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,14079,2032,8822079,https://pbs.twimg.com/media/DFg_2PVW0AEHN3p.jpg,puppo,golden_retriever,0.953442
6189,889665388333682689,2017-07-25 01:55:32 +0000,Twitter for iPhone,Here's a puppo that seems to be on the fence a...,https://twitter.com/dog_rates/status/889665388...,13,10,None,44631,8996,8822079,https://pbs.twimg.com/media/DFi579UWsAAatzw.jpg,puppo,Pembroke,0.966327
7022,743253157753532416,2016-06-16 01:25:36 +0000,Twitter for iPhone,This is Kilo. He cannot reach the snackum. Nif...,https://twitter.com/dog_rates/status/743253157...,10,10,Kilo,4176,1208,8822108,https://pbs.twimg.com/media/ClCQzFUUYAA5vAu.jpg,puppo,malamute,0.442612
6517,819952236453363712,2017-01-13 17:00:21 +0000,Twitter for iPhone,This is Oliver. He has dreams of being a servi...,"https://www.gofundme.com/servicedogoliver,http...",13,10,Oliver,5353,1179,8822094,https://pbs.twimg.com/media/C2EONHNWQAUWxkP.jpg,puppo,American_Staffordshire_terrier,0.925505
7053,738537504001953792,2016-06-03 01:07:16 +0000,Twitter for iPhone,This is Bayley. She fell asleep trying to esca...,https://twitter.com/dog_rates/status/738537504...,11,10,Bayley,5015,1507,8822108,https://pbs.twimg.com/media/Cj_P7rSUgAAYQbz.jpg,puppo,chow,0.808737

#### Define
Fix rating numerator and denominators that are not actually ratings

#### Code

In [52]:
# View all occurences where there are more than one #/# in 'text' column
text_ratings_to_fix = twitter_archive_clean[twitter_archive_clean.text.str.contains( r"(\d+\.?\d*\/\d+\.?\d*\D+\d+\.?\d*\/\d+\.?\d*)")].text

text_ratings_to_fix

C:\Users\topp\Anaconda3\lib\site-packages\pandas\core\strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

1392    This is Darrel. He just robbed a 7/11 and is i...
1613    Two gorgeous dogs here. Little waddling dog is...
1513    Meet Tassy &amp; Bee. Tassy is pretty chill, b...
1547    These two pups just met and have instantly bon...
1216    This may be the greatest video I've ever been ...
1126    This is Socks. That water pup w the super legs...
1256    When bae says they can't go out but you see th...
1282    Meet Fynn &amp; Taco. Fynn is an all-powerful ...
1271    This is Eriq. His friend just reminded him of ...
1967    This is Kial. Kial is either wearing a cape, w...
1976    Two dogs in this one. Both are rare Jujitsu Py...
1883    Here we have Pancho and Peaches. Pancho is a C...
1920    This is Spark. He's nervous. Other dog hasn't ...
2009    These are Peruvian Feldspars. Their names are ...
2038    This is an Albanian 3 1/2 legged  Episcopalian...
1718    10/10 for dog. 7/10 for cat. 12/10 for human. ...
1820    Meet Hank and Sully. Hank is very proud of the...
1771    Meet Holly. She's trying to teach small human-...
1221    Meet Oliviér. He takes killer selfies. Has a d...
863     After so many requests, this is Bretagne. She ...
988     This is Bluebert. He just saw that both #Final...
1004    Meet Travis and Flurp. Travis is pretty chill ...
954     Happy 4/20 from the squad! 13/10 for all https...
605     "Yep... just as I suspected. You're not flossi...
812     This is Bookstore and Seaweed. Bookstore is ti...
5796    Meet Eve. She's a raging alcoholic 8/10 (would...
5727    Meet Rufio. He is unaware of the pink legless ...
Name: text, dtype: object

In [53]:
for entry in text_ratings_to_fix:
    mask = twitter_archive_clean.text == entry
    column_name1 = 'rating_numerator'
    column_name2 = 'rating_denominator'
    twitter_archive_clean.loc[mask, column_name1] = re.findall(r"\d+\.?\d*\/\d+\.?\d*\D+(\d+\.?\d*)\/\d+\.?\d*", entry)
    twitter_archive_clean.loc[mask, column_name2] = 10

In [54]:
twitter_archive_clean[twitter_archive_clean.text.isin(text_ratings_to_fix)]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,favorites,retweets,user_followers,jpg_url,dog_stage,prediction_algorithm,confidence_level
1392,682962037429899265,2016-01-01 16:30:13 +0000,Twitter for iPhone,This is Darrel. He just robbed a 7/11 and is i...,https://twitter.com/dog_rates/status/682962037...,10,10,Darrel,36266,16241,8822123,https://pbs.twimg.com/media/CXpeVzQW8AApKYb.jpg,None,Chihuahua,0.155207
1613,674646392044941312,2015-12-09 17:46:48 +0000,Twitter for iPhone,Two gorgeous dogs here. Little waddling dog is...,https://twitter.com/dog_rates/status/674646392...,8,10,None,1374,467,8822125,https://pbs.twimg.com/media/CVzTUGrW4AAirJH.jpg,None,flat-coated_retriever,0.837448
1513,677314812125323265,2015-12-17 02:30:09 +0000,Twitter for iPhone,"Meet Tassy &amp; Bee. Tassy is pretty chill, b...",https://twitter.com/dog_rates/status/677314812...,11,10,Tassy,1599,518,8822124,https://pbs.twimg.com/media/CWZOOIUW4AAQrX_.jpg,None,Blenheim_spaniel,0.924127
1547,676191832485810177,2015-12-14 00:07:50 +0000,Twitter for iPhone,These two pups just met and have instantly bon...,https://twitter.com/dog_rates/status/676191832...,7,10,None,2211,999,8822124,https://pbs.twimg.com/media/CWJQ4UmWoAIJ29t.jpg,None,Chihuahua,0.376741
1216,695064344191721472,2016-02-04 02:00:27 +0000,Twitter for iPhone,This may be the greatest video I've ever been ...,https://twitter.com/dog_rates/status/695064344...,13,10,None,1581,582,8822115,https://pbs.twimg.com/ext_tw_video_thumb/69506...,None,NaN,0.000000
1126,703356393781329922,2016-02-26 23:10:06 +0000,Twitter for iPhone,This is Socks. That water pup w the super legs...,https://twitter.com/dog_rates/status/703356393...,2,10,Socks,1892,381,8822115,https://pbs.twimg.com/media/CcLS6QKUcAAUuPa.jpg,None,Border_collie,0.894842
1256,691483041324204033,2016-01-25 04:49:38 +0000,Twitter for iPhone,When bae says they can't go out but you see th...,https://twitter.com/dog_rates/status/691483041...,10,10,None,2354,557,8822115,https://pbs.twimg.com/media/CZikKBIWYAA40Az.jpg,None,bloodhound,0.886232
1282,689835978131935233,2016-01-20 15:44:48 +0000,Twitter for iPhone,Meet Fynn &amp; Taco. Fynn is an all-powerful ...,https://twitter.com/dog_rates/status/689835978...,10,10,Fynn,2139,737,8822115,https://pbs.twimg.com/media/CZLKJpDWQAA-5u4.jpg,None,collie,0.600186
1271,690400367696297985,2016-01-22 05:07:29 +0000,Twitter for iPhone,This is Eriq. His friend just reminded him of ...,https://twitter.com/dog_rates/status/690400367...,6,10,Eriq,1863,443,8822115,https://pbs.twimg.com/media/CZTLeBuWIAAFkeR.jpg,None,Pembroke,0.426459
1967,667544320556335104,2015-11-20 03:25:43 +0000,Twitter Web Client,"This is Kial. Kial is either wearing a cape, w...",https://twitter.com/dog_rates/status/667544320...,4,10,Kial,814,493,8822136,https://pbs.twimg.com/media/CUOYBbbWIAAXQGU.jpg,None,Pomeranian,0.412893
1976,667491009379606528,2015-11-19 23:53:52 +0000,Twitter Web Client,Two dogs in this one. Both are rare Jujitsu Py...,https://twitter.com/dog_rates/status/667491009...,8,10,None,499,210,8822136,https://pbs.twimg.com/media/CUNniSlUYAEj1Jl.jpg,None,borzoi,0.852088
1883,669037058363662336,2015-11-24 06:17:19 +0000,Twitter for iPhone,Here we have Pancho and Peaches. Pancho is a C...,https://twitter.com/dog_rates/status/669037058...,7,10,None,625,295,8822131,https://pbs.twimg.com/media/CUjlp51WcAA1vGA.jpg,None,Chihuahua,0.803528
1920,668537837512433665,2015-11-22 21:13:35 +0000,Twitter for iPhone,This is Spark. He's nervous. Other dog hasn't ...,https://twitter.com/dog_rates/status/668537837...,1,10,Spark,241,67,8822131,https://pbs.twimg.com/media/CUcfnWlWsAAzlwE.jpg,None,Lakeland_terrier,0.372988
2009,666835007768551424,2015-11-18 04:27:09 +0000,Twitter for iPhone,These are Peruvian Feldspars. Their names are ...,https://twitter.com/dog_rates/status/666835007...,10,10,None,200,74,8822137,https://pbs.twimg.com/media/CUES51dXIAEahyG.jpg,None,Airedale,0.448459
2038,666287406224695296,2015-11-16 16:11:11 +0000,Twitter for iPhone,This is an Albanian 3 1/2 legged Episcopalian...,https://twitter.com/dog_rates/status/666287406...,9,10,an,135,60,8822137,https://pbs.twimg.com/media/CT8g3BpUEAAuFjg.jpg,None,Maltese_dog,0.857531
1718,672248013293752320,2015-12-03 02:56:30 +0000,Twitter for iPhone,10/10 for dog. 7/10 for cat. 12/10 for human. ...,https://twitter.com/dog_rates/status/672248013...,7,10,None,1655,565,8822128,https://pbs.twimg.com/media/CVROAIfWsAECA5t.jpg,None,Irish_terrier,0.413173
1820,670434127938719744,2015-11-28 02:48:46 +0000,Twitter for iPhone,Meet Hank and Sully. Hank is very proud of the...,https://twitter.com/dog_rates/status/670434127...,8,10,Hank,1341,610,8822129,https://pbs.twimg.com/media/CU3cSG8W4AIAePH.jpg,None,Chesapeake_Bay_retriever,0.027351
1771,671154572044468225,2015-11-30 02:31:34 +0000,Twitter for iPhone,Meet Holly. She's trying to teach small human-...,https://twitter.com/dog_rates/status/671154572...,8,10,Holly,676,206,8822129,https://pbs.twimg.com/media/CVBrhXoWIAAox_C.jpg,None,Labrador_retriever,0.495047
1221,694352839993344000,2016-02-02 02:53:12 +0000,Twitter for iPhone,Meet Oliviér. He takes killer selfies. Has a d...,https://twitter.com/dog_rates/status/694352839...,5,10,Oliviér,2003,605,8822115,https://pbs.twimg.com/media/CaLWOPfWkAAo2Dt.jpg,None,Australian_terrier,0.407886
863,740373189193256964,2016-06-08 02:41:38 +0000,Twitter for iPhone,"After so many requests, this is Bretagne. She ...",https://twitter.com/dog_rates/status/740373189...,14,10,None,34596,13117,8822108,https://pbs.twimg.com/media/CkZVdJ6WYAAXZ5A.jpg,None,golden_retriever,0.807644
988,716439118184652801,2016-04-03 01:36:11 +0000,Twitter for iPhone,This is Bluebert. He just saw that both #Final...,https://twitter.com/dog_rates/status/716439118...,11,10,Bluebert,2336,204,8822109,https://pbs.twimg.com/media/CfFNk7cWAAA-hND.jpg,None,Siberian_husky,0.396495
1004,714258258790387713,2016-03-28 01:10:13 +0000,Twitter for iPhone,Meet Travis and Flurp. Travis is pretty chill ...,https://twitter.com/dog_rates/status/714258258...,8,10,Travis,2979,711,8822110,https://pbs.twimg.com/media/CemOGNjWQAEoN7R.jpg,None,collie,0.176758
954,722974582966214656,2016-04-21 02:25:47 +0000,Twitter for iPhone,Happy 4/20 from the squad! 13/10 for all https...,https://twitter.com/dog_rates/status/722974582...,13,10,None,4041,1532,8822109,https://pbs.twimg.com/media/CgiFjIpWgAA4wVp.jpg,None,Great_Dane,0.246762
605,777684233540206592,2016-09-19 01:42:24 +0000,Twitter for iPhone,"""Yep... just as I suspected. You're not flossi...",https://twitter.com/dog_rates/status/777684233...,11,10,None,11268,2946,8822103,https://pbs.twimg.com/media/CsrjryzWgAAZY00.jpg,None,cocker_spaniel,0.253442
812,747600769478692864,2016-06-28 01:21:27 +0000,Twitter for iPhone,This is Bookstore and Seaweed. Bookstore is ti...,https://twitter.com/dog_rates/status/747600769...,7,10,Bookstore,2308,552,8822108,https://pbs.twimg.com/media/CmAC7ehXEAAqSuW.jpg,None,Chesapeake_Bay_retriever,0.804363
5796,673295268553605120,2015-12-06 00:17:55 +0000,Twitter for iPhone,Meet Eve. She's a raging alcoholic 8/10 (would...,https://twitter.com/dog_rates/status/673295268...,11,10,Eve,7188,3003,8822128,https://pbs.twimg.com/media/CVgGc9hWIAIe1bn.jpg,pupper,golden_retriever,0.889241
5727,674737130913071104,2015-12-09 23:47:22 +0000,Twitter for iPhone,Meet Rufio. He is unaware of the pink legless ...,https://twitter.com/dog_rates/status/674737130...,4,10,Rufio,617,83,8822125,https://pbs.twimg.com/media/CV0l10AU8AAfg-a.jpg,pupper,Pomeranian,0.948537

#### Define
Fix rating numerator that have decimals.

#### Code

In [55]:

# View tweets with decimals in rating in 'text' column
twitter_archive_clean[twitter_archive_clean.text.str.contains(r"(\d+\.\d*\/\d+)")]

C:\Users\topp\Anaconda3\lib\site-packages\pandas\core\strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,favorites,retweets,user_followers,jpg_url,dog_stage,prediction_algorithm,confidence_level
1438,680494726643068929,2015-12-25 21:06:00 +0000,Twitter for iPhone,Here we have uncovered an entire battalion of ...,https://twitter.com/dog_rates/status/680494726...,26,10,None,1689,477,8822123,https://pbs.twimg.com/media/CXGaVxOWAAADjhF.jpg,None,kuvasz,0.438627
548,786709082849828864,2016-10-13 23:23:56 +0000,Twitter for iPhone,"This is Logan, the Chow who lived. He solemnly...",https://twitter.com/dog_rates/status/786709082...,75,10,Logan,18383,6171,8822101,https://pbs.twimg.com/media/CurzvFTXgAA2_AP.jpg,None,Pomeranian,0.467321
40,883482846933004288,2017-07-08 00:28:19 +0000,Twitter for iPhone,This is Bella. She hopes her smile made you sm...,https://twitter.com/dog_rates/status/883482846...,5,10,Bella,42564,8900,8822079,https://pbs.twimg.com/media/DELC9dZXUAADqUk.jpg,None,golden_retriever,0.943082
4721,778027034220126208,2016-09-20 00:24:34 +0000,Twitter for iPhone,This is Sophie. She's a Jubilant Bush Pupper. ...,https://twitter.com/dog_rates/status/778027034...,27,10,Sophie,6574,1617,8822102,https://pbs.twimg.com/media/Cswbc2yWcAAVsCJ.jpg,pupper,clumber,0.946718

In [56]:
# Set correct numerators for specific tweets
twitter_archive_clean.loc[(twitter_archive_clean['tweet_id'] == 883482846933004288) & (twitter_archive_clean['rating_numerator'] == 5), ['rating_numerator']] = 13.5
twitter_archive_clean.loc[(twitter_archive_clean['tweet_id'] == 786709082849828864) & (twitter_archive_clean['rating_numerator'] == 75), ['rating_numerator']] = 9.75
twitter_archive_clean.loc[(twitter_archive_clean['tweet_id'] == 778027034220126208) & (twitter_archive_clean['rating_numerator'] == 27), ['rating_numerator']] = 11.27
twitter_archive_clean.loc[(twitter_archive_clean['tweet_id'] == 680494726643068929) & (twitter_archive_clean['rating_numerator'] == 26), ['rating_numerator']] = 11.26

#### Test

In [57]:
twitter_archive_clean[twitter_archive_clean.text.str.contains(r"(\d+\.\d*\/\d+)")]

C:\Users\topp\Anaconda3\lib\site-packages\pandas\core\strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,favorites,retweets,user_followers,jpg_url,dog_stage,prediction_algorithm,confidence_level
1438,680494726643068929,2015-12-25 21:06:00 +0000,Twitter for iPhone,Here we have uncovered an entire battalion of ...,https://twitter.com/dog_rates/status/680494726...,11.26,10,None,1689,477,8822123,https://pbs.twimg.com/media/CXGaVxOWAAADjhF.jpg,None,kuvasz,0.438627
548,786709082849828864,2016-10-13 23:23:56 +0000,Twitter for iPhone,"This is Logan, the Chow who lived. He solemnly...",https://twitter.com/dog_rates/status/786709082...,9.75,10,Logan,18383,6171,8822101,https://pbs.twimg.com/media/CurzvFTXgAA2_AP.jpg,None,Pomeranian,0.467321
40,883482846933004288,2017-07-08 00:28:19 +0000,Twitter for iPhone,This is Bella. She hopes her smile made you sm...,https://twitter.com/dog_rates/status/883482846...,13.5,10,Bella,42564,8900,8822079,https://pbs.twimg.com/media/DELC9dZXUAADqUk.jpg,None,golden_retriever,0.943082
4721,778027034220126208,2016-09-20 00:24:34 +0000,Twitter for iPhone,This is Sophie. She's a Jubilant Bush Pupper. ...,https://twitter.com/dog_rates/status/778027034...,11.27,10,Sophie,6574,1617,8822102,https://pbs.twimg.com/media/Cswbc2yWcAAVsCJ.jpg,pupper,clumber,0.946718

#### Define
Get Dogs gender column from text column

#### Code

In [58]:
# Loop on all the texts and check if it has one of pronouns of male or female
# and append the result in a list

male = ['He', 'he', 'him', 'his', "he's", 'himself']
female = ['She', 'she', 'her', 'hers', 'herself', "she's"]

dog_gender = []

for text in twitter_archive_clean['text']:
    # Male
    if any(map(lambda v:v in male, text.split())):
        dog_gender.append('male')
    # Female
    elif any(map(lambda v:v in female, text.split())):
        dog_gender.append('female')
    # If group or not specified
    else:
        dog_gender.append('NaN')

# Test
len(dog_gender)

# Save the result in a new column 'dog_name'
twitter_archive_clean['dog_gender'] = dog_gender

#### Test

In [59]:
print("dog_gender count \n", twitter_archive_clean.dog_gender.value_counts())

dog_gender count
 NaN       1130
male       633
female     224
Name: dog_gender, dtype: int64

#### Define
Convert the null values to None type

#### Code

In [60]:
twitter_archive_clean.loc[twitter_archive_clean['prediction_algorithm'] == 'NaN', 'prediction_algorithm'] = None
twitter_archive_clean.loc[twitter_archive_clean['dog_gender'] == 'NaN', 'dog_gender'] = None
twitter_archive_clean.loc[twitter_archive_clean['rating_numerator'] == 'NaN', 'rating_numerator'] = 0
#twitter_archive_clean.loc[twitter_archive_clean['rating_denominator'] == 'NaN', 'rating_denominator'] = 0

#### Test

In [61]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1987 entries, 0 to 7053
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   tweet_id              1987 non-null   int64
 1   timestamp             1987 non-null   object
 2   source                1987 non-null   object
 3   text                  1987 non-null   object
 4   expanded_urls         1987 non-null   object
 5   rating_numerator      1987 non-null   object
 6   rating_denominator    1987 non-null   int64
 7   name                  1987 non-null   object
 8   favorites             1987 non-null   int64
 9   retweets              1987 non-null   int64
 10  user_followers        1987 non-null   int64
 11  jpg_url               1987 non-null   object
 12  dog_stage             1987 non-null   object
 13  prediction_algorithm  1679 non-null   object
 14  confidence_level      1987 non-null   float64
 15  dog_gender            857 non-null    object
dtypes: float64(1), int64(5), object(10)
memory usage: 263.9+ KB

#### Define
Change datatypes .

#### Code

In [62]:
twitter_archive_clean['tweet_id'] = twitter_archive_clean['tweet_id'].astype(str)
twitter_archive_clean['timestamp'] = pd.to_datetime(twitter_archive_clean.timestamp)
twitter_archive_clean['source'] = twitter_archive_clean['source'].astype('category')
twitter_archive_clean['favorites'] = twitter_archive_clean['favorites'].astype(int)
twitter_archive_clean['retweets'] = twitter_archive_clean['retweets'].astype(int)
twitter_archive_clean['user_followers'] = twitter_archive_clean['user_followers'].astype(int)
twitter_archive_clean['dog_stage'] = twitter_archive_clean['dog_stage'].astype('category')
twitter_archive_clean['rating_numerator'] = twitter_archive_clean['rating_numerator'].astype(float)
twitter_archive_clean['rating_denominator'] = twitter_archive_clean['rating_denominator'].astype(float)
twitter_archive_clean['dog_gender'] = twitter_archive_clean['dog_gender'].astype('category')

####  Test

In [63]:
twitter_archive_clean.dtypes

tweet_id                             object
timestamp               datetime64[ns, UTC]
source                             category
text                                 object
expanded_urls                        object
rating_numerator                    float64
rating_denominator                  float64
name                                 object
favorites                             int32
retweets                              int32
user_followers                        int32
jpg_url                              object
dog_stage                          category
prediction_algorithm                 object
confidence_level                    float64
dog_gender                         category
dtype: object

#### Store

In [64]:
# Save clean DataFrame to csv file
twitter_archive_clean.drop(twitter_archive_clean.columns[twitter_archive_clean.columns.str.contains('Unnamed',case = False)],axis = 1)
twitter_archive_clean.to_csv('twitter_archive_master.csv', encoding = 'utf-8', index=False)

In [65]:
twitter_archive_clean = pd.read_csv('twitter_archive_master.csv')
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1987 entries, 0 to 1986
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   tweet_id              1987 non-null   int64
 1   timestamp             1987 non-null   object
 2   source                1987 non-null   object
 3   text                  1987 non-null   object
 4   expanded_urls         1987 non-null   object
 5   rating_numerator      1987 non-null   float64
 6   rating_denominator    1987 non-null   float64
 7   name                  1987 non-null   object
 8   favorites             1987 non-null   int64
 9   retweets              1987 non-null   int64
 10  user_followers        1987 non-null   int64
 11  jpg_url               1987 non-null   object
 12  dog_stage             1987 non-null   object
 13  prediction_algorithm  1679 non-null   object
 14  confidence_level      1987 non-null   float64
 15  dog_gender            857 non-null    object
dtypes: float64(3), int64(4), object(9)
memory usage: 248.5+ KB